* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 35px 0 0 30px;
}

.header-links {
    margin-right: 25px;
    color: #17233D;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    cursor: pointer;
}

#sign-up-button {
    width: 124px;
    height: 51px;
    background-color: #6FBF44;
    opacity: 1;
    border-radius: 6px;
    border: 1px solid #4CB538;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
}

section {
    display: inline-block;
}

img {
    width: 595.18px;
    height: 500px;
    margin-top: 160px;
    margin-left: 121px;
    opacity: 1;
}

article {
    display: inline-block;
    margin-left: 85px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
    width: 582px;
    height: 164px;
    opacity: 1;
}

p {
    width: 493px;
    height: 99px;
    opacity: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 67px;
    margin-bottom: 55px;

}

.article-link {
    width: 112px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;

}

.article-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
    }

    section {
        display:block;
    }

    article {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .header-links {
        display: none;
    }

    #sign-up-button {
        width: 91px;
        height: 31px;
        position: absolute;
        right: 20px;
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        width: 278px;
        height: 60px;
        margin-top: 21%;
    }

    img {
        width: 312px;
        height: 288px;
        margin: 20px auto 0;
        display: flex;
        justify-content: center;
    }

    p {
        width: 304px;
        height: 165px;
    }
}